.App *{
  margin: 0px;
}


/* About, Clubs, Club, CreateClub, UpdateClub  */
.user-screens{
  min-height: 50vh;
  margin: 20px;
  border: solid black;
}

h2.screen-header{
  text-align: center;

}

/* Landing, Login, Register  */
.public-screens{
  text-align: center;
  min-height: 60vh;
  margin: 20px;
}

.auth-container{
  margin: 0px;
}

.landing{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
}

.search{
  display: flex;
  flex-direction: column;
}
