form{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
  min-height: 40vh;
}

.auth-buttons > button, .auth-buttons > a {
  width: 60px;
  padding: 1px 7px 2px;
}

input{
  width: 120px;
  margin: 10px 0px;
}

.auth-buttons> *{
  width: 100%;
  padding: 0px;
  margin: 0px;
}