.club-info{
  display: flex;
  flex-direction: column;
}
.volume-info{
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
}

.volume-info > img {
  width: 35%;
  height: 70vh;
  object-fit: cover;
}

.admin-functions{
  border: solid grey 2px;
  border-style: dotted;
}
.admin-functions * {
  margin: 5px 0px;
}

.comments-section{
}

.club-update{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0px 10px;
}

.form-label {
  margin: 0px 20px 0px 0px;
}

.members-section{
  margin: 0px 0px 0px 10px;
}

.club-rules{
  margin: 0px 0px 20px 0px;
}