.clubs-display{
  display: flex;
  flex-flow: row wrap;
}
.club-box{
  width: 27%;
  margin: 20px 2%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.2);
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: black;
  border: solid grey 2px;
  border-style: dotted;
}
