
.form-label{
  font-size: 20px;
}

.form-instructions{
  font-size: 15px;
  color: grey;
}

form{
  border: solid white;
}

.form-field{
  width: 40%;
  text-align: center;
}

.form-field > input {
  width: 50%;
  height: 20px;
  margin: 5px 0px;
}