.search-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  color: grey;
}

.search-form * {
  margin: 5px;
}
.search-display{
  margin: 50px 0px 0px 0px;
}

.volume-container{
  display:flex;
  flex-direction: row;
  margin: 20px 0px;
}

.volume-text{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  margin: 0px 0px 0px 30px;
}

.volume-text *{
  margin: 5px 0px;
}

.volume-container > img {
  width: 10%;
  object-fit: cover;
}

.highlight{
  color: #4376b0;
  font-weight: bolded;
}